.task-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    border: none;
  }
  
  .priority-1 {
    border-top: 15px solid red;
  }

  .priority-2 {
    border-top: 15px solid yellow;
  }
  
  .priority-3 {
    border-top: 15px solid green;
  }  