.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  margin-left: 50px;
}

.task-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  position: relative;
  height: 80vh;
}

.task-form {
  position: sticky;
  top: 20px;
  flex: 0.4;
  max-width: 400px;
  margin: 0;
}

.task-list {
  flex: 0.6;
  max-width: 600px;
  height: 85vh;
  overflow-y: auto;
  margin-top: 20px;
}

.task-list::-webkit-scrollbar {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

input,
textarea,
select {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #1c3cba;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #456ba0;
}

small {
  color: #999;
  font-size: 12px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}